<div *ngIf="showLoader" class="loaderRelay">
  <app-welcome-loader></app-welcome-loader>
</div>
<div [ngClass]="{'main-class' : isEdit}">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title *ngIf="!isEdit">Add New Expense</mat-card-title>
      <mat-card-title *ngIf="isEdit">Edit Expense</mat-card-title>
      <mat-card-subtitle
        >Enter all the required fields to save expense</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content style="margin-top: 10px">
      <form [formGroup]="expenseForm">
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Expense Name</mat-label>
              <input matInput placeholder="" formControlName="name" />
              <mat-hint
                *ngIf="
                  expenseForm.get('name')?.errors &&
                  expenseForm.get('name')?.hasError('required') &&
                  expenseForm.get('name')?.touched
                "
                style="color: red"
              >
                Expense Name is required
              </mat-hint>
              <mat-hint
                *ngIf="
                  expenseForm.get('name')?.errors &&
                  expenseForm.get('name')?.hasError('pattern') &&
                  expenseForm.get('name')?.touched
                "
                style="color: red"
              >
                Expense Name is invalid
              </mat-hint>
              <mat-hint
                *ngIf="
                  expenseForm.get('name')?.errors &&
                  expenseForm.get('name')?.hasError('maxlength') &&
                  expenseForm.get('name')?.touched
                "
                style="color: red"
              >
                Expense Name should be max 50 length
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Amount(In Rupees)</mat-label>
              <input
                matInput
                placeholder=""
                formControlName="amount"
                type="number"
              />
              <mat-hint
                *ngIf="
                  expenseForm.get('amount')?.errors &&
                  expenseForm.get('amount')?.hasError('required') &&
                  expenseForm.get('amount')?.touched
                "
                style="color: red"
              >
                Expense Amount is required
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Choose a Expense date</mat-label>
              <input matInput [max]="maxDate"  [matDatepicker]="picker" formControlName="expense_date" (dateChange)="addEvent($event)" />
              <mat-hint
                *ngIf="
                  expenseForm.get('expense_date')?.errors &&
                  expenseForm.get('expense_date')?.hasError('required') &&
                  expenseForm.get('expense_date')?.touched
                "
                style="color: red"
              >
                Expense Date is required
              </mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="outline" style="width: 100%" *ngIf="!isEdit">
              <mat-label>Expense Category</mat-label>
              <mat-select formControlName="expense_category" *ngIf="tags">
                <mat-option *ngFor="let item of tags" [value]="item">{{
                  item
                }}</mat-option>
              </mat-select>
              <mat-select formControlName="expense_category" *ngIf="!tags">
                <mat-option *ngFor="let item of keywords" [value]="item">{{
                  item
                }}</mat-option>
              </mat-select>
              <mat-hint
                *ngIf="
                  expenseForm.get('expense_category')?.errors &&
                  expenseForm.get('expense_category')?.hasError('required') &&
                  expenseForm.get('expense_category')?.touched
                "
                style="color: red"
              >
                Expense Category is required
              </mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%" *ngIf="isEdit">
              <mat-label>Expense Category</mat-label>
              <mat-select formControlName="expense_category">
                <mat-option *ngFor="let item of keywords" [value]="item">{{
                  item
                }}</mat-option>
              </mat-select>
              <mat-hint
                *ngIf="
                  expenseForm.get('expense_category')?.errors &&
                  expenseForm.get('expense_category')?.hasError('required') &&
                  expenseForm.get('expense_category')?.touched
                "
                style="color: red"
              >
                Expense Category is required
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Expense Payment Type</mat-label>
              <mat-select formControlName="payment">
                <mat-option *ngFor="let item of payments" [value]="item">{{
                  item
                }}</mat-option>
              </mat-select>
              <mat-hint
                *ngIf="
                  expenseForm.get('payment')?.errors &&
                  expenseForm.get('payment')?.hasError('required') &&
                  expenseForm.get('payment')?.touched
                "
                style="color: red"
              >
                Expense Payment is required
              </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Comment</mat-label>
            <textarea matInput formControlName="comment"></textarea>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions align="end" *ngIf="!isEdit">
      <button mat-raised-button (click)="onReset()">
        <mat-icon>autorenew</mat-icon>Reset
      </button>
      <button
        type="submit"
        *ngIf="!isSaving"
        mat-raised-button
        (click)="onSaveExpense()"
        [disabled]="expenseForm.invalid"
      >
        <mat-icon>save</mat-icon> Save
      </button>
      <button *ngIf="isSaving" class="btn btn-success" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        Saving...
      </button>
    </mat-card-actions>

    <mat-card-actions align="end" *ngIf="isEdit">
      <button mat-raised-button (click)="onReset()">
        <mat-icon>autorenew</mat-icon>Reset
      </button>
      <button mat-raised-button (click)="onCancel()" >
        <mat-icon>disabled_by_default</mat-icon> Cancel
      </button>
      <button type="submit" mat-raised-button (click)="onEdit()" [disabled]="expenseForm.invalid && expenseForm.status==='INVALID'" color="primary">
        <mat-icon>edit</mat-icon>Update
      </button>

    </mat-card-actions>
  </mat-card>
</div>
