.main-class{
    margin: 0px 60px;
    padding-top: 50px;
}
.loaderRelay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; /* Ensure the loader is on top */
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }