.example-spacer {
    flex: 1 1 auto;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 50px;
  }
  