.container-fluid {
  background-image: linear-gradient(to bottom right, #5761B2, #1FC5A8);
  width: 100%;
}
.example-form-field {
  width: 100%;
}

.example-button-container > button {
  margin: 0 12px;
}

.myCard{
    margin-top: 25px;
}
.btns{
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 100;
}