<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 myCard">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title
            >User Information <mat-icon>verified_user</mat-icon></mat-card-title
          >
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button (click)="openDialog()">
            <mat-icon>launch</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 offset-md-3 myCard">
      <app-add-category  (categoryAdded)="handleCategory($event)" ></app-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 myCard">
      <app-add-expense [tags]="keywords"></app-add-expense>
    </div>
    <div class="col-12 col-md-6 offset-md-3 myCard" style="margin-bottom: 30px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <div>
              <p>Import CSV Expenses </p>
            </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div><p>Download <a href="https://drive.google.com/file/d/1-i_q2joBrYUqi2jYuiOmD6OeFHH9rwQL/view?usp=sharing">Sample</a> File <mat-icon style="font-size: 20px; width: 20px; height: 20px">downloading</mat-icon></p></div>
          <app-import></app-import>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div>
    <button (click)="onView()" class="btns" mat-mini-fab color="accent">
      <mat-icon>equalizer</mat-icon>
    </button>
  </div>
</div>
<div class="footers">
  <app-footer></app-footer>
</div>
