<mat-stepper linear="true" #stepper>
  <mat-step editable="true">
    <ng-template matStepLabel>Import</ng-template>
    <div class="tables">
      <!-- Here functionality start -->
      <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">Required</td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">Required</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Expense Date</th>
          <td mat-cell *matCellDef="let element">Required Format (DD/MM/YYYY)</td>
        </ng-container>
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Expense Category</th>
          <td mat-cell *matCellDef="let element">Optional(default - Unassigned)</td>
        </ng-container>
        <ng-container matColumnDef="payment">
          <th mat-header-cell *matHeaderCellDef>Payment Type</th>
          <td mat-cell *matCellDef="let element">Optional(default - Card)</td>
        </ng-container>
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef>Comment</th>
          <td mat-cell *matCellDef="let element" >Optional(default - Unassigned)</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      </div>
    </div>
    <div style="padding-top: 10px;">
      <button mat-raised-button color="accent"  matStepperNext (click)="filePicker.click()" type="button">
        Import File
      </button>
      <input type="file" hidden #filePicker (change)="importDataFromCSV($event)">
    </div>
  </mat-step>
  <mat-step editable="true">
    <ng-template matStepLabel>Review</ng-template>
    <div style="padding-top: 10px;">
      <p *ngIf="isCorrect">Please Procced with Save Button..</p>
      <p *ngIf="!isCorrect">Please Reupload File in CSV format with Back Button</p>
    </div>
    <div>
      <button mat-raised-button matStepperPrevious>Back</button>
      <button
        mat-raised-button
        matStepperNext
        (click)="onSaveImport()"
        color="primary"
      >
        Save
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="view">
      <button mat-raised-button color="primary" (click)="onView()">
        View Expenses
      </button>
    </div>
  </mat-step>
</mat-stepper>
