<div>
  <mat-card class="example-card">
    <mat-card-header class="example-header">
      <mat-card-title
        >User Information <mat-icon>verified_user</mat-icon></mat-card-title
      >
      <button mat-raised-button color="primary" (click)="editField()" [disabled]="!editable"><mat-icon>edit</mat-icon>Edit</button>
    </mat-card-header>
    <mat-progress-bar *ngIf="isProcess" mode="indeterminate"></mat-progress-bar>
    <mat-card-content *ngIf="!isProcess">
      <div class="liner"><p></p></div>
      <div class="main">
        <img
          src="../../../assets/image/man.png"
          alt="man image"
          height="60px"
          width="60px"
        />
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-6 names" *ngIf="!isEdit">
            <p>Name: {{name}}</p>
          </div>
          <div class="col-sm-6 col-xs-6 names" *ngIf="isEdit">
            <p>Name:</p>
            <input type="text" [value]="name" [(ngModel)]="newName">
          </div>
          <div class="col-sm-6 col-xs-6 names" *ngIf="!isEdit">
            <p>UserName: {{user_name}}</p>
          </div>
          <div class="col-sm-6 col-xs-6 names" *ngIf="isEdit">
            <p>UserName:</p>
            <input type="text" [value]="name" [(ngModel)]="newUsername" width="50%">
          </div>
        </div>
      <div class="row row-col-3 mains">
        <div class="col" *ngFor="let line of lines">
          <p style="text-align: center;font-size: 18px;
          font-family: cursive; font-weight: bold;">{{ line.content }}</p>
          <p style="text-align: center;font-size: 22px;">{{ line.text }}</p>
        </div>
      </div>
    </mat-card-content>
    <div style="display:flex; flex-direction: row; justify-content: space-between;">
      <mat-card-actions *ngIf="!isEdit">
        <button mat-raised-button mat-dialog-close color="primary" (click)="onDeleteAccount()" >Delete Account</button>
        <!-- <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">Ok</button> -->
      </mat-card-actions>
    <mat-card-actions *ngIf="!isEdit">
      <!-- <button mat-raised-button mat-dialog-close color="primary">Delete Account</button> -->
      <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary">Ok</button>
    </mat-card-actions>
    </div>
    <mat-card-actions align="end" *ngIf="isEdit">
      <button mat-raised-button mat-dialog-close cdkFocusInitial color="primary" (click)="saveData()" >Save</button>
    </mat-card-actions>
  </mat-card>
</div>
