<div *ngIf="LoginContinue">
  <app-welcome-loader></app-welcome-loader>
</div>

<div class="login-page-wrapper">
  
  <mat-card class="login-card">
    
    <mat-card-header class="login-header">
      <mat-icon color="primary" class="header-icon">lock_open</mat-icon>
      <mat-card-title class="paragraph">Welcome Back!</mat-card-title>
      <mat-card-subtitle>Sign in to your Expense Tracker account.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" class="login-form">
        
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Registered Email</mat-label>
            <input matInput placeholder="name@example.com" type="email" formControlName="gmail" />
            
            <mat-error *ngIf="loginForm.get('gmail')?.errors &&
              loginForm.get('gmail')?.hasError('required') && loginForm.get('gmail')?.touched">
              Email Address is required
            </mat-error>
            <mat-error *ngIf="loginForm.get('gmail')?.errors &&
              loginForm.get('gmail')?.hasError('email') && loginForm.get('gmail')?.touched">
              Email Address is invalid
            </mat-error>
          </mat-form-field>
        </div>
        
        <div class="inputs">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder=" " type="password" formControlName="password" />
            
            <mat-error *ngIf="loginForm.get('password')?.errors &&
              loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
              Password is required
            </mat-error>
          </mat-form-field>
          <div class="forgot-password-link">
             <a routerLink="/reset-password">Forgot Password?</a>
          </div>
        </div>
        
        <div class="loginBtn">
          <button
            type="submit"
            *ngIf="!LoginContinue"
            mat-raised-button
            color="primary"
            [disabled]="loginForm.invalid"
            (click)="onLogin()"
          >
            <mat-icon>login</mat-icon>
            Log In
          </button>
          
          <button *ngIf="LoginContinue" class="btn btn-success" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        </div>
      </form>
    </mat-card-content>
    
    <mat-card-actions class="card-footer">
      <p>Don't have an account?</p>
      
      <button 
        mat-stroked-button 
        color="accent" 
        (click)="onSwitchToSignup()" 
        class="switch-button"
      >
        <mat-icon>person_add</mat-icon> Create Account
      </button>
      
    </mat-card-actions>
  </mat-card>

</div>